/data/
/tmp/

/.direnv/

# local env files
.env
.env.*
!.env.example

# dependencies
**/node_modules

# next.js
**/.next
**/.vercel/
**/out/
**/**/build
**/.swc/

# turbo
.turbo

# typescript
**/dist/
**/.cache/

# misc
.DS_Store
*.pem

# git
.git
