# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.


# The database URL is used to connect to your SQL database.
POSTGRES_URL="postgres://postgres.[USERNAME]:[PASSWORD]@localhost:5432/[DATABASE_NAME]"

# The Pinata API key and secret are used to upload files to Pinata (IPFS).
PINATA_JWT="your-pinata-jwt"

# The WebSocket URL used to interact with Torus network nodes.
NEXT_PUBLIC_WS_PROVIDER_URL="wss://api-0.nodes.testnet.torus.network"

# The cache provider URL used to get some data from the cache.
NEXT_PUBLIC_CACHE_PROVIDER_URL="your cache provider url"


# The JWT secret used to sign JWT tokens related to our apps signed endpoints.
JWT_SECRET='your-jwt-secret'

# The mnemonic for the key used to sign transactions related to the Allocator.
TORUS_ALLOCATOR_MNEMONIC=""

# The mnemonic for the key used to sign transactions related to the Curator.
TORUS_CURATOR_MNEMONIC="your-mnemonic"

CURATOR_DISCORD_WEBHOOK_URL=""

# The Discord API token and endpoint used to send notifications to Discord.
DISCORD_API_TOKEN="your-discord-api-token"
DISCORD_API_ENDPOINT="your-discord-api-endpoint"
