# Temporary files
/data/
/tmp/

# Git worktrees
/worktrees

# Local files
*.local*

# Git hooks
/.pre-commit-config.yaml

# Nix / direnv
/.direnv/

# Local environment files
.env
.env.*
!.env.example

# AI assistants
**/.claude/settings.local.json
/.crush

# Node.js / dependencies
**/node_modules

# LLM models
**/models/

# Next.js
**/.next
**/.vercel/
**/out/
**/**/build
**/.swc/

# Turborepo
.turbo

# Typescript
**/dist/
**/.cache/

# OS
.DS_Store

**/.claude/settings.local.json
*PLANS.md
*TASKS.md

# Crush
.crush
CRUSH.md

# Tests
**/output.test.txt