# Temporary files
/data/
/tmp/

# Local files
*.local*

# Nix / direnv
/.direnv/

# Local environment files
.env
.env.*
!.env.example

# Claude Code
**/.claude/settings.local.json

# Node.js / dependencies
**/node_modules

# Next.js
**/.next
**/.vercel/
**/out/
**/**/build
**/.swc/

# Turborepo
.turbo

# Typescript
**/dist/
**/.cache/

# OS
.DS_Store

**/.claude/settings.local.json
**/.crush/
CRUSH.md