deployment:
  image:
    repository: ghcr.io/renlabs-dev/torus-bridge

  additionalLabels:
    app: torus-bridge

  podLabels:
    app: torus-bridge

  startupProbe:
    enabled: true
    failureThreshold: 30
    periodSeconds: 10
    timeoutSeconds: 5
    initialDelaySeconds: 10
    tcpSocket:
      port: 8000

  readinessProbe:
    enabled: true
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 2
    initialDelaySeconds: 10
    tcpSocket:
      port: 8000

  livenessProbe:
    enabled: true
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 2
    initialDelaySeconds: 10
    tcpSocket:
      port: 8000

  env:
    NEXT_PUBLIC_WALLET_CONNECT_ID:
      valueFrom:
        secretKeyRef:
          name: torus-{{ .Values.environmentName }}-web-apps-secret
          key: wallet_connect_id
