cacheUrl: ""

ingress:
  enabled: false

service:
  enabled: false

deployment:
  image:
    repository: ghcr.io/renlabs-dev/torus-swarm-verifier

  additionalLabels:
    app: torus-swarm-verifier

  podLabels:
    app: torus-swarm-verifier

  resources:
    limits:
      memory: 512Mi
      cpu: 1
    requests:
      memory: 200Mi
      cpu: 0.1

  command: ["pnpm"]
  args: ["tsx", "./src/index.ts"]

  startupProbe:
    httpGet:
      path: /api/stake-out

  readinessProbe:
    periodSeconds: 30
    timeoutSeconds: 3
    httpGet:
      path: /api/stake-out

  livenessProbe:
    periodSeconds: 30
    timeoutSeconds: 3
    httpGet:
      path: /api/stake-out

  env:
    OPENROUTER_API_KEY:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: OPENROUTER_API_KEY
    POSTGRES_URL:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: hetzner_dev_db
