/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(228 20% 20%);
  border-radius: 2px;
  margin: 1px 0 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(220 15% 70%);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(220 30% 95%);
}
