cacheUrl: ""

ingress:
  enabled: false

service:
  enabled: false

deployment:
  image:
    repository: ghcr.io/renlabs-dev/apostle-swarm-worker

  additionalLabels:
    app: apostle-swarm-worker

  podLabels:
    app: apostle-swarm-worker

  resources:
    limits:
      memory: 512Mi
      cpu: 1
    requests:
      memory: 200Mi
      cpu: 0.1

  command: ["pnpm"]
  args: ["tsx", "./src/index.ts"]

  startupProbe:
    enabled: false

  readinessProbe:
    enabled: false

  livenessProbe:
    enabled: false

  env:
    OPENROUTER_API_KEY:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: OPENROUTER_API_KEY
    APOSTLE_SWARM_POSTGRES_URL:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: apostle_swarm_db_url
    TWITTERAPI_IO_KEY:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: TWITTERAPI_IO_KEY
    EVALUATION_MODEL:
      value: google/gemini-2.5-flash
    STRATEGY_MODEL:
      value: google/gemini-2.5-flash
