cacheUrl: ""

deployment:
  image:
    repository: ghcr.io/renlabs-dev/torus-cache

  additionalLabels:
    app: torus-cache

  podLabels:
    app: torus-cache

  resources:
    limits:
      memory: 512Mi
      cpu: 1
    requests:
      memory: 200Mi
      cpu: 0.1

  command: ["pnpm"]
  args: ["tsx", "./src/index.ts"]

  startupProbe:
    enabled: true
    failureThreshold: 30
    periodSeconds: 10
    timeoutSeconds: 5
    initialDelaySeconds: 10
    httpGet:
      path: /api/stake-out
      port: 8000

  readinessProbe:
    enabled: true
    failureThreshold: 3
    periodSeconds: 30
    successThreshold: 1
    timeoutSeconds: 3
    initialDelaySeconds: 10
    httpGet:
      path: /api/stake-out
      port: 8000

  livenessProbe:
    enabled: true
    failureThreshold: 3
    periodSeconds: 30
    successThreshold: 1
    timeoutSeconds: 3
    initialDelaySeconds: 10
    httpGet:
      path: /api/stake-out
      port: 8000
