@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(228 20% 20%);
  border-radius: 2px;
  margin: 1px 0 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(220 15% 70%);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(220 30% 95%);
}

@layer base {
  :root {
    --background: 240 10% 6%;
    --foreground: 0 0% 98%;
    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 10;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 10;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 10;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 12% 17%;
    --input: 240 3.7% 12;
    --ring: 240 4.9% 83.9%;
    --chart-1: 225 80% 55%;
    --chart-2: 215 90% 65%;
    --chart-3: 220 85% 60%;
    --chart-4: 210 95% 75%;
    --chart-5: 215 90% 85%;
    --radius: 0rem;
    --chart-secondary-1: 220 70% 50%;
    --chart-secondary-2: 160 60% 45%;
    --chart-secondary-3: 30 80% 55%;
    --chart-secondary-4: 280 65% 60%;
    --chart-secondary-5: 340 75% 55%;
  }
}
