:root {
  --toastify-color-success: #86efac;

  .Toastify__toast--default {
    align-items: center;
    height: fit-content;
  }

  .Toastify__toast-icon {
    margin-top: auto;
    margin-bottom: auto;
  }
}
