deployment:
  image:
    repository: ghcr.io/renlabs-dev/prediction-swarm

  podLabels:
    app: prediction-swarm

  env:
    JWT_SECRET:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: jwt_secret
    POSTGRES_URL:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: hetzner_db
    NEXT_PUBLIC_TORUS_ALLOCATOR_ADDRESS:
      valueFrom:
        configMapKeyRef:
          name: '{{ template "application.name" . }}-config'
          key: torus_allocator_address
    NEXT_PUBLIC_PREDICTION_APP_ADDRESS:
      valueFrom:
        configMapKeyRef:
          name: '{{ template "application.name" . }}-config'
          key: prediction_app_address
    PREDICTION_APP_ADDRESS:
      valueFrom:
        configMapKeyRef:
          name: '{{ template "application.name" . }}-config'
          key: prediction_app_address
    TWITTERAPI_IO_KEY:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: twitterapi_io_key
    NEXT_PUBLIC_AUTH_ORIGIN:
      value: "https://{{ .Values.ingressHost }}"
