deployment:
  image:
    repository: ghcr.io/renlabs-dev/prediction-swarm

  podLabels:
    app: prediction-swarm

  env:
    JWT_SECRET:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: jwt_secret
    POSTGRES_URL:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: hetzner_db
    NEXT_PUBLIC_AUTH_ORIGIN:
      value: "https://{{ .Values.ingressHost }}"
