deployment:
  image:
    repository: ghcr.io/renlabs-dev/prediction-swarm

  podLabels:
    app: prediction-swarm

  env:
    JWT_SECRET:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: jwt_secret
    NEXT_PUBLIC_TORUS_ALLOCATOR_ADDRESS:
      valueFrom:
        configMapKeyRef:
          name: '{{ template "application.name" . }}-config'
          key: torus_allocator_address
    POSTGRES_URL:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: torus_webapps_db_url
    NEXT_PUBLIC_AUTH_ORIGIN:
      value: "https://{{ .Values.ingressHost }}"
    NEXT_PUBLIC_TORUS_CACHE_URL:
      value: "{{ .Values.cacheUrl }}"
    NEXT_PUBLIC_TORUS_CHAIN_ENV:
      value: "{{ .Values.chainEnv }}"
    NEXT_PUBLIC_WSS_API_ENDPOINT:
      value: "{{ .Values.wssApiEndpoint }}"
    NEXT_PUBLIC_TORUS_RPC_URL:
      value: "{{ .Values.wssApiEndpoint }}"
