deployment:
  image:
    repository: ghcr.io/renlabs-dev/torus-portal

  additionalLabels:
    app: torus-portal

  podLabels:
    app: torus-portal

  startupProbe:
    enabled: true
    failureThreshold: 30
    periodSeconds: 10
    timeoutSeconds: 5
    initialDelaySeconds: 10
    tcpSocket:
      port: 8000

  readinessProbe:
    enabled: true
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 2
    initialDelaySeconds: 10
    tcpSocket:
      port: 8000

  livenessProbe:
    enabled: true
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 2
    initialDelaySeconds: 10
    tcpSocket:
      port: 8000

  env:
    JWT_SECRET:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: jwt_secret
    NEXT_PUBLIC_TORUS_ALLOCATOR_ADDRESS:
      valueFrom:
        configMapKeyRef:
          name: '{{ template "application.name" . }}-config'
          key: torus_allocator_address
    POSTGRES_URL:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: torus_webapps_db_url
    PERMISSION_GRANTOR_ADDRESS:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: PERMISSION_GRANTOR_ADDRESS
    PREDICTION_APP_MNEMONIC:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: PREDICTION_APP_MNEMONIC
    PREDICTION_APP_ADDRESS:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: PREDICTION_APP_ADDRESS
    NEXT_PUBLIC_PREDICTION_APP_ADDRESS:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: NEXT_PUBLIC_PREDICTION_APP_ADDRESS
    TWITTERAPI_IO_KEY:
      valueFrom:
        secretKeyRef:
          name: "torus-{{ .Values.environmentName }}-web-apps-secret"
          key: TWITTERAPI_IO_KEY
