@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../../../../packages/ui/src/components/scrollbar-style.css");

@layer base {
  :root {
    --background: 248 74% 7%;
    --background-green: 160 74% 7%;
    --background-cyan: 190 74% 7%;
    --foreground: 220 30% 95%;
    --card: 248 74% 7%;
    --card-foreground: 220 30% 95%;
    --popover: 248 74% 7%;
    --popover-foreground: 220 30% 95%;
    --primary: 263 70% 50%;
    --primary-foreground: 220 30% 95%;
    --secondary: 245 20% 20%;
    --secondary-foreground: 220 30% 95%;
    --muted: 245 20% 20%;
    --muted-foreground: 220 15% 70%;
    --accent: 245 34% 13%;
    --accent-foreground: 220 30% 95%;
    --destructive: 0 70% 35%;
    --destructive-foreground: 220 30% 95%;
    --border: 245 20% 20%;
    --input: 245 20% 20%;
    --ring: 263 70% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-secondary-1: 225 80% 55%;
    --chart-secondary-2: 215 90% 65%;
    --chart-secondary-3: 220 85% 60%;
    --chart-secondary-4: 210 95% 75%;
    --chart-secondary-5: 215 90% 85%;
  }
}
